body {
	font-size: 62.5%;
	font-family: tahoma, arial, sans-serif;
	line-height:  2em;
	background: url(../logo/bg.jpg) repeat left top;

}
a{
	text-decoration: none;
}
a img{
	border: none;
}
img{
	vertical-align: center;
}
#wrapper{
	width: 990px;
	margin: 0px auto;
}
#header_wrap{
	width: auto;
	background: url(../logo/header_bg.jpg) repeat-x top left;
}
#header{
	width: 990px; height: 150px;
	margin: 0px auto;
	position: relative;
}
#header a img{
	position: absolute;
	top: -12px;
	left: 26px;
}
#header ul#menu{
	position: absolute;
	top: 107px; left: 0;
	width: 100%;
	background: url(../logo/menu_bg.jpg) repeat-x bottom left;
	border-radius: 5px;
	border-left: 1px solid #0c932f;
	border-right: 1px solid #0c932f;
	 padding-left: 0px;

}

#header ul#menu li{
	display: inline;
}
#header ul#menu li a{
	display: block;
	float: left;
	padding: 0px 22px;
	height: 41px;
	line-height: 41px;
	font-family: "tahoma", arial, sans-serif;
	font-size: 15px;
	color: white;
}
#header ul#menu li:first-child a {
	border-radius: 5px 0px 0px 5px;
}
#header ul#menu li a:hover{
	background: url(../logo/menu_bg.jpg) repeat-x top left;
	color: #0c932f;
	text-decoration: none;
}
ul#menu1 li{
	display: inline;
}

#primary #content{
	width: 705px;
	float: left;
	padding-top: 17px;
	padding-right: 17px;
	padding-bottom: 17px;
	padding-left: 2px;
}
#primary #content #post_content{
	margin-top:4px;

}

#post_item #img img{
	float: left;
	border: 4px double #d3d3d3;
	margin-right: 20px;
	margin-bottom: 20px
} 

p{
	font-family: "arial", tahoma, sans-serif;
	font-size: 14px;
	color: #3a3731;
}
h1{
	font-family: "arial", tahoma, sans-serif;
	color: #3a3731;
}
#search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    background-image: url('../logo/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
    margin-top: 50px;
    margin-right: 100px;
}

#search:focus {
    width: 50%;
}

#post_item{
	background-color: #ffffff;
    width: auto;
    height: 460px;
    max-height: 900px;

}

#bao_quanh{
	padding: 12px 12px;
	margin-left: 20px;

}
#bao_quanh p{
	font-size: 14px;
    font-weight: normal;
    line-height: 1.38;
}
.hangmoi{
	margin-left: 427px;
}
.hang{
	margin-left: 427px;
}
.thaydoi{
	margin-left: 528px;
}
#dangki{
	border-radius: 0px 5px 5px 0px;
}
#hangmoi1{
	margin-left: 455px;
}
#last{
	border-radius: 0px 5px 5px 0px;
}

#sidebar{
	background: #f4f2ec;
	width: 265px;
	float: right;
	margin-top: 28px;

}
#sidebar #mangxahoi, #sidebar #chuyenmuc{
	padding: 20px;
	border: 1px solid #d3d3d3;
}
#sidebar h3{
	padding: 4px;
	font-family: "Trebuchet MS", tahoma, arial, sans-serif;
	font-size: 18px;
	color: white;
	background-color: #33cc00;
}
#primary{
	background: url(../logo/faux_column.jpg) repeat-y top left;
}
#editer{
	width: 705px;
	height: 50px;
	background-color: #ffffff;
	border-top: 1px solid #DDDDDD;
	cursor: pointer;
    text-decoration: none;
}
#editer a{
	float: right;
	font-size: 14px;
	margin-right: 10px;
	margin-top: 10px;
	color: #365899;
}
#editer a:hover{
	text-decoration: underline;
}
#footer{
	width: 990px;
	margin-top: 30px;
}
#footer p{
	font-family: "arial", tahoma, sans-serif;
	font-size: 11px;
	text-align: center;
}
#title{
	margin-left: 7px;
	padding-top: 10px;
	font-size: 16px;
	color: #365899;
    cursor: pointer;
    text-decoration: none;
}
#title:hover{
	text-decoration: underline;
}
#title a{
	color: #365899;
}

#date{
	margin-left: 7px;
	color: grey;
}
#author{
	width: 705px;
	height: 30px;
	background-color: #ffffff;
}
#author a{
	font-family: Georgia;
	float: right;
	font-size: 14px;
	margin-right: 10px;
	margin-top: 10px;
}
