/*#content{
	text-align: center;
}
#page{
	margin-left: 450px;
	margin-right: 450px;
	margin-bottom: 450px;
	border: 4px solid #9900CC;
	border-radius: 6px;
	padding: 12px;
}


*/
body{
	background-color: #d3d3d3;
	direction: ltr;
    line-height: 1.34;
    margin-right: 200px;
}
#ava{
	float: left;
	margin-left: 150px;
	margin-top: 100px;
	border-radius: 4px;
	border: 2px solid #660000;
}

#content{
	display: table-cell;
    height: 100%;
    padding: 32px 24px 20px;
    position: relative;
    width: 450px;
    float: right;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    background-color: #fff;

}
.signup input[type=text]{
	width: 399px;
	height: 30px;
	border: 1px solid #660000;
	border-radius: 2px;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin: 8px;
}
.signup input[type=password]{
	width: 399px;
	height: 30px;
	border: 1px solid #660000;
	border-radius: 2px;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin: 8px;
}
.setgioitinh{
	padding: 4px;
	margin: 8px;
}
.signup input[type=submit]{
	padding: 4px;
	margin: 8px;
	background-color: #69a74e;
	width: 150px;
	height: 45px;
	font-size: 19px;
	font-family: inherit;
	border-radius: 4px;
	color: white;
	border: 1px solid black;
}
#ngaysinh{
	padding: 4px;
	margin: 8px;
}
#labelns{
	padding: 4px;
	margin: 8px;
}